

header {
    background-color: #33ec0e;
}

section {

    background-color: #bace0a;
}
main {

    background-color: #f30808;
}
aside {
    
    background-color: #E0D475;
}

footer {
    background-color: #0c77f1;
}
